img {
  cursor: pointer;
}

#items, #seasons, #episodes {
  display: none;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 80px;
  position: relative;
  text-align: center;
}

.text-items {
  padding-top: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}