body {
  background: #101010;
  color: white;
  line-height: 1.35;
}

#content, .password-box, .topnav, #watching, #seasons, #player {
  display: none;
}

img {
  margin-top:5px; /*to have the space above the image*/
  margin-bottom:10px; /*to have the space under the image*/
  margin-right: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #00a4dc;
}
