/* Normal container (do not overflow-x) */
.items_container {
  text-align: center;
}

/* Scroll container */
.items_scroll {
  overflow-y: hidden;
  white-space: nowrap;
}

/*
.items_scroll::-webkit-scrollbar {
  display: none;
}
*/

.item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.item .text{
  position: absolute;
  width: 100%;
  overflow: hidden;
  opacity: 0.5;
  background-color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item:hover {
  outline: 5px solid #1C6EA4;
  outline-offset: 0px;
}