/* Normal container (do not overflow-x) */
.items_container {
  height:100%;
  text-align: center;
}

/* Scroll container */
.items_scroll {
  overflow-y: hidden;
  white-space: nowrap;
}

.item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.item .text{
  position: absolute;
  width: 100%;
  overflow: hidden;
  opacity: 0.5;
  background-color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item:hover, .item:focus {
  outline: 6px solid #1C6EA4;
}
