body {
  background: #101010;
  color: white;
  line-height: 1.35;
}

.splash_img {
  width: 100%;
  height: 100%;
}

.tab {
  padding: 3rem 1.5rem;
  text-align: center;
}

.is-hidden {
  display: none;
}

#topnav {
  display: none;
  overflow: hidden;
  border-radius: 25px;
  background-color: #333;
}

.topnav-item {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav-item:hover {
  background-color: #ddd;
  color: black;
}

.topnav-item.active {
  background-color: #00a4dc;
  color: white;
}

#topnav .left {
  float: left;
}

#topnav .right {
  float: right;
}
